*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    background-color: #ebecee;
    text-align: center;
    color: #2d2d2d;
    padding: 20px;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #ebecee;
    padding: 30px;
}

.jobLogo img {
    width: 15%;
}

.cards {
    background-color: #fff;
    padding: .5rem;
    transition: all .3s ease;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: rem;
    height: 45vh;
}

.companyName {
    color: #0866ff;
    margin-bottom: 5px;
}

.jobPosition {
    font-size: 25px;
    color: #2d2d2d;
    margin-bottom: 3px;
}

.jobTitle {
    font-size: 15px;
    color: #2d2d2d;
    margin-bottom: 5px;
}

.jobDescription {
    background-color: #ebecee;
    border: 1px solid rgb(203, 203, 203);
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.cards:hover {
    /* transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);  */
    box-shadow: 0 3px 10px rgb(0 0 0 / .8);
}

.dtailsBtn button {
    border: none;
    padding: .5rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s ease-out;
    background-color: #ebecee;
    font-size: 15px;
    width: 100%;
}

.dtailsBtn button:hover {
    background-color: #0866ff;
    color: #fff;
}

/* .dtailsBtn:hover { */
    /* background-color: #b6b6b6; */
    /* color: #fff; */
/* } */

@media(max-width:840px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 567px){
    .card {
        grid-template-columns: auto;
    }
}