*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    background-color: #d0ddf4;
    text-align: center;
    color: #2d2d2d;
    padding: 20px;
    font-family: 'Poppins', sans-serif;

}

.jobCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #D0DDF4;
    padding: 35px;
}

.jobLogo img {
    width: 15%;
}

.jobLogo {
    display: flex;
    justify-content: space-between;
}

.jobCrad {
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 5px;
    /* background-color: red; */
    margin-bottom: 30px;
}

/* .jobCrad:first-child:hover {
    color: #0866ff;
} */

.jobCards {
    background-color: #e6eaf2;
    padding: .7rem;
    transition: all .3s ease;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: rem;
    height: 35vh;
    width: 90%;
}

.companyName {
    color: #0866ff;
    margin-bottom: 5px;
}

.jobPosition {
    font-size: 25px;
    color: #2d2d2d;
    margin-bottom: 3px;
}

.jobTitle {
    font-size: 15px;
    color: #2d2d2d;
    margin-bottom: 15px;
}

/* .jobDescription {
    background-color: #ebecee;
    border: 1px solid rgb(203, 203, 203);
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
} */



.jobCards:hover {
    /* transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);  */
    background-color: #f5f6f8;
    box-shadow: 0 3px 10px rgb(0 0 0 / .8);
}

.dtailsBtn button {
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 22px;
    transition: all .2s ease-out;
    background-color: #cad9dd;
    font-size: 15.5px;
    width: 40%;
    /* font-family: 'Poppins', sans-serif; */
}

.dtailsBtn button:hover {
    background-color: #45BEDE;
    color: #ffffff;
}

/* .dtailsBtn:hover { */
    /* background-color: #b6b6b6; */
    /* color: #fff; */
/* } */

@media(max-width:840px) {
    .jobCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 567px){
    .jobCard {
        grid-template-columns: auto;
    }
}