@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sansita:wght@700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bbceee;
    /* background: #eee; */
    padding: 18px;
    /* border-bottom: 1px solid white; */
    box-shadow: 0 0 25px 5px rgba(123, 170, 172, 0.826);
}

.logo {
    background-color: #ebf0f8;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    box-shadow: 0 0 5px 5px rgb(140, 220, 233);
    font-family: 'Sansita', sans-serif;

}

.logo img {
    width: 115px;
}

.navBar ul {
    display: flex;
    gap: 30px;
    font-size:18px;
    margin-right: 20px;
  }
  
  .navBar a {
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
  }

  .navBar a:hover {
    color: #b88dae;
  }

 ul .active {
    color: #b88dae;
  }






@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    margin-top: 10px;
  }

  .menu a {
    margin: 0;
  }
}
