*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3b3b3b;
    padding: 20px;
}

.logo {
    background-color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.logo img {
    width: 115px;
}

.navBar ul {
    display: flex;
    gap: 30px;
    font-size:18px;
    margin-right: 20px;
  }
  
  .navBar a {
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
  }

  .navBar a:hover {
    color: #b88dae;
  }

 ul .active {
    color: #b88dae;
  }






@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    margin-top: 10px;
  }

  .menu a {
    margin: 0;
  }
}
