@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sansita:wght@700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bbceee;
    padding: 18px;
    box-shadow: 0 0 15px 3px rgba(123, 170, 172, 0.826);
}

.logo {
    background-color: #ebf0f8;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    box-shadow: 0 0 7px 4px rgb(140, 220, 233);
    font-family: 'Sansita', sans-serif;

}

.logo h1 {
  margin-bottom: 5.5px;
}

.navBar ul {
    display: flex;
    gap: 25px;
    font-size:18px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .navBar a {
    color: #7761DC;
    transition: all .3s ease;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }

  .navBar a:hover {
    color: #0bb4e3;
  }

.active {
    background-color: #7cd2ea;
    padding: 5px;

  }

  .userProfile {
    width: 35%;
    border-radius: 50%; 
     cursor: pointer;
  }

.profileClickedInfo {
  background-color:#7cd2ea ;
  position: absolute;
  right: 0;
  width: 20%;
  height: 40vh;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 5px 15px #a093d8;
}

.profilePicClick {
  width: 25%;
  margin-top: 7px;
  border-radius: 50px;
}

.displayName {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #26262f;
}

.displayemail {
  margin-bottom: 8px;
  color: #26262f;
}

.displaySignoutBtn {
  background-color: #8572d9;
  color: #fff;
  border: none;  
  margin-top: 8px;
  padding: 5px 40px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.displaySignoutBtn:hover {
  background-color:#7761DC;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    margin-top: 10px;
  }

  .menu a {
    margin: 0;
  }
}


