.aboutContainer {
  background-color:#CBDAF4;
  width: 100%;
  height: 70vh;
  padding: 40px;
  text-align: center;
  /* z-index: -50; */
}

.aboutUs{
    max-width: 1000px;
    height: 85vh;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
.abouth1{
    color: #ff4081;
    margin-bottom: 10px;
  }

.abouth2 {
    margin-bottom: 20px;
  }
  
.aboutP {
    font-size: 18px;
    color: #2D2D2D;
  }

  .aboutHeading {
    color: #7761DC;
    margin-top: px;
    text-align: center;
    padding: 10px;
  }