.AllFavouritesCard {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 2rem ;
    gap: 1rem;
    .job-card {
      display: flex;
      flex-direction: column;
      width: 40%;
      /* height: 40vh; */
      /* justify-content: space-between; */
      gap: 1rem;
      padding: 1rem;
      /* border: 1px solid #ccc; */
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      min-height: 12rem;
      max-width: 25rem;
      margin: 0 auto;
    }


  
    .job-card > * {
      line-height: 1.7rem;
    }
  
    .company-logo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      /* object-fit: cover; */
      /* margin-right: 16px; */
    }
  
    .job-details {
      flex-grow: 1;
    }
  
    .job-details h2 {
      margin: 0;
    }
  
    .job-actions {
      /* width: 100%; */
    }
    
    .FavApplyBtn  {
        border: none;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 22px;
    /* margin-top: 18px; */
    transition: all .2s ease-out;
    background-color: #cad9dd;
    font-size: 15.5px;
    width: 88%;
    }

    .FavApplyBtn:hover {
        background-color: #45BEDE;
    color: #ffffff;
    }
  
    /* .job-actions button {
      background-color: #022e45;
      color: #ffffff;
      border: none;
      padding: 8px;
      margin-left: 8px;
      cursor: pointer;
      margin-block: 5px;
      border-radius: 3px;
      transition: 0.3s all ease-out;
    }
  
    .job-actions button:hover {
      background-color: #054e75;
    } */
  
    @media (max-width: 570px) {
      .job-actions {
        flex-direction: column;
      }
    }
  
    @media (max-width: 1050px) {
      .job-card {
        align-items: center;
      }
    }
  }