.favourites {
  display: flex;
  flex-wrap: wrap;
    padding: 2rem 0;
  gap: 1rem;
  .job-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    min-height: 12rem;
    max-width: 25rem;
    margin: 0 auto;
  }

  .job-card > * {
    line-height: 1.7rem;
  }

  .company-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
  }

  .job-details {
    flex-grow: 1;
  }

  .job-details h2 {
    margin: 0;
  }

  .job-actions {
    width: 100%;
  }

  @media (max-width: 570px) {
    .job-actions {
      flex-direction: column;
    }
  }

  @media (max-width: 1050px) {
    .job-card {
      align-items: center;
    }
  }
}