* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.fullBody {
    width: 100%;
    height: 100vh;
    
    background-color: #cbdaf4;
}

.hero-area {
    display: flex;
    gap: 200px;
}

.hero-img img {
    width: 600px;
    height: 500px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 3%;
    animation: 1s moveFromBottom ease-out;
}

.hero-text {
    margin-left: 50px;
    margin-top: 150px;
}

.hero-text h1 {
    font-size: 61px;
    line-height: 86px;
    font-weight: 800;
    color: #17171d;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    animation: 1s moveFromRight ease-out;
}

.hero-text h1 span {
    background-color: #08b2d4af;
    color: #fff;
    padding: 0px 10px 0 10px ;
    border-radius: 10px;
    animation: 1s moveFromRight ease-out;
}

.hero-text p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #666666;
    animation: 1s moveFromBottom ease-out;
}

.hero-text .btn {
    display: flex;
    gap: 25px;
}

.hero-text .btn-a button:hover {
    background-color: #FD7100;
    transition: all .3s ease-out;
}

.hero-text .btn .btn-b button {
    font-size: 18px;
    padding: 7px 20px;
    border: 2px solid #8B66C9;
    background: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

@keyframes moveFromBottom {
    from{
        transform: translateY(20rem);
        opacity: 0; 
    }
    to{
        transform: translateX(0);
        opacity: 1; 
    }
}

@keyframes moveFromRight {
    from{
        transform: translateY(rem);
        opacity: 0; 
    }
    to{
        transform: translateX(0);
        opacity: 1; 
    }
}

@keyframes scaleFromCenter {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}