* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.fullBody {
    width: 100%;
    height: 205vh;
    
    background-color: #cbdaf4;
}

.hero-area {
    display: flex;
    gap: 200px;
}

.hero-img img {
    width: 600px;
    height: 500px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 3%;
    animation: 1s moveFromRight ease-out;
}

.hero-text {
    margin-left: 50px;
    margin-top: 150px;
}

.hero-text h1 {
    font-size: 61px;
    line-height: 86px;
    font-weight: 800;
    color: #17171d;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    animation: 1s moveFromLeft ease-out;
}

.hero-text h1 span {
    background-color: #08b2d4af;
    color: #fff;
    padding: 0px 10px 0 10px ;
    border-radius: 10px;
}

.hero-text p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #666666;
    animation: 1s moveFromLeft ease-out;
}

.btn-b button {
    font-size: 18px;
    padding: 7px 20px;
    border: 2px solid #8B66C9;
    background: none;
    color:#1e1e26;
    border-radius: 25px;
    cursor: pointer;
    animation: 1s moveFromLeft ease-out;
    transition: all .2s ease-in-out;
}

.btn-b button:hover {
    background-color: #8B66C9;
    color: #fff;
}

.ebtn-b {
    text-align: center;
}

.ebtn-b button {
    font-size: 18px;
    padding: 7px 20px;
    border: 2px solid #8B66C9;
    background: none;
    color:#1e1e26;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 30px;
    transition: all .2s ease-in-out;
}

.ebtn-b button:hover {
    background-color: #8B66C9;
    color: #fff;
}


/* Home Page Animation */

@keyframes moveFromLeft {
  from{
      transform: translateX(-20rem);
      opacity: 0; 
  }
  to{
      transform: translateX(0);
      opacity: 1; 
  }
}

@keyframes moveFromRight {
  from{
      transform: translateX(20rem);
      opacity: 0; 
  }
  to{
      transform: translateX(0);
      opacity: 1; 
  }
}

@keyframes scaleFromCenter {
  from{
      scale: 0;
  }
  to{
      scale: 1;
  }
}

/* =======> Home Page Animation Delete <======== */

/* ==============> Explore <=================== */


.Exploreheading {
    background-color: #d0ddf4;
    text-align: center;
    color: #2d2d2d;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 4rem;
    background-color: #CBDAF4;
    font-size: 18px;
}

.Exploreheading h1 {
    border-bottom: 2px solid #2D2D2D;
    width: 31%;
    margin: auto;
    margin-bottom: 20px;
}

/* Home Page Responsive */

/* * Media query for smaller screens (max-width: 768px) */ 
@media only screen and (max-width: 768px) {
    .hero-area {
        flex-direction: column;
        gap: 20px;
    }

    .hero-img img {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 0;
    }

    .hero-text {
        margin-left: 0;
        margin-top: 30px;
    }

    .hero-text h1 {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .btn-b button,
    .ebtn-b button {
        margin-top: 20px;
    }
}

/* Media query for smaller screens (max-width: 768px) */
@media only screen and (max-width: 1024px) {
  .hero-img img {
      width: 100%;
      height: auto;
      margin: 0;
      border-radius: 0;
  }
}

/* =============>> Card <<=================== */

.cardsContainer {
    width: 1200px !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
  
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      max-width: 1279px !important;
      padding: 0 !important;
      margin: 0 80px !important;
      width: auto !important;
    }
  
    @media screen and (max-width: 991px) {
      max-width: 959px !important;
      margin: 0 16px !important;
      padding: 0 !important;
      width: auto !important;
    }
  }
  
  .gradient-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  
  .container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    line-height: 60px;
  }
  
  .card {
    max-width: 550px;
    border: 0;
    /* width: 100%; */
    margin-inline: auto;
  }
  
  .container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #150e18, #2a272c, #180f1b);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    img {
      margin-bottom: 32px;
    }
  }
  
  .bg-green-box,
  .bg-white-box,
  .bg-yellow-box,
  .bg-blue-box {
    position: relative;
  }
  
  .bg-green-box::after,
  .bg-white-box::after,
  .bg-yellow-box::after,
  .bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
  }
  
  .bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
  }
  
  .bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
  }
  
  .bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
  }
  
  .bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
  }
  
  .card-title {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
  }
  
  .card-description {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
  }


/* ================================== */
